h1{
    margin-bottom: 25px;
}


.jumbotron{
    margin-top: 60px;
}
 .seccion{
     width: 100%;

 }

 footer{
     height: 100px;
     background-color: rgb(17, 42, 95);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 footer p{
     margin-right: 20px;
     color: white;
 }